body {
    margin: 0px;
    background-image: url(https://th.bing.com/th/id/OIP.mVRp3Ks_0cGtDaCn2yP_AwHaEo?rs=1&pid=ImgDetMain);
}
.login{
    width: auto;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #312e38a4; /* Cor da caixa dde login    */
    border-radius: 20px;
    box-shadow: 0px 10px 40px #0a1b0c ; /*Cor da sombra em volta do login */

}
.butao{
    width: 20vw;
    height: 20vh;
    display: flex;
    justify-content: center;

}